$r2x1col:pink;
$font: "Times New Roman", serif;
$square: #ffff00;
$s2x2:aquamarine;
$sc2r3:mediumturquoise;
$r2x1: cornflowerblue;

/*all variables for the different colored boxes as long as the font*/
